* {
    margin: 0;
}

body{
    display: block;
    background-color: #2E2E2F; 
    justify-content: center;
    align-items: center;
    
    height: 98vh;
    color: #FFFFFF;
}

.global-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 98vh;
    width: 100%;
}

.header{
    display: flex;
    position: relative;
    align-items: center;
}

.header-image {
    width: 550px;
    height: 205px;    
    object-fit: cover;
    object-position: 50% center;
    opacity: 10%;
}

.header-link-container {
    display: flex;
    align-items: center;
    position: absolute;
}

.searchbar {
    display: flex;
    justify-content: center;
    position: absolute;   
    left: 28.429%;
    top: 25%;
}

.app-content{
    position: relative;
    width: 550px;
    height: 779px;
    border: 2px solid green;
    align-items: center;
    background-color: #121212;
}

.found-films-board{
    display: flex;
    justify-content: center;
}

.start-exploring-icon{
    position:absolute;
    top: 50%;
}