:root {
    
}

*{
    margin: 0;
    font-family: inter;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(48, 48, 48);
}

h1 {
    font-size: 2.5rem;
}

body{
    position: relative;
}

.app-content {
    position: relative;
    background: rgba(0,0,0,0.7)url("/img/headerimage.jpg");
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    width: 550px;
    height: 208px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: #ffffff;
}

a{
    font-size: 0.75em;
    text-decoration: none;
    color: #ffffff;   
    font-weight: 600;
}

.film-list{
    display: flex;
    justify-content: center;
    padding: 2em 0;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 571px;
    width: 550px;
    background-color: #121212;
}

.search-element-container {
    display: flex;
    position: absolute;
    width: 80%;

    top: 22.5%;
    left: 10%;
}

#searchbar {
    background-color: #2E2E2F;
    color: #A5A5A5;
    padding: 0.5em;
    flex: 1;
    border: none;
    border-radius: 0.4em 0 0 0.4em;
}

#search-btn {
    background-color: #4B4B4B;
    color: #FFFFFF;
    padding: 0.75em 1.75em;
    border: none;

    border-radius: 0 0.4em 0.4em 0;
}


.no-data-initial {
    width: 20%;
}

/*Watchlist.html-only CSS classes*/

.watchlist-empty-paragraph {
    font-size: 1.15em;
    font-weight: 600;
    color: #787878;
}

.add-movies-container {
    display: flex;
    align-items: center;
    height: 2em;
    margin: 0.75em;
}

.add-movies-symbol {
    width: 1.75em;
    padding: 0.5em;
}

/**/

.film-entry{
    display: flex;
    flex-wrap: unset;
    padding: 2em 0;
    width: 90%;
    border-bottom: 2px solid #2C2C2C;
}

h2, 
.time, 
.genres, 
.watchlist,
.numerical-rating {
    color: #ffffff;
    
}

.movie-title {
    font-size: 1.125rem;
}

.time, 
.genres, 
.watchlist,
.rating-symbol,
.numerical-rating {
    font-size: 0.75em;
}

.rating-symbol {
    margin: 0.5em;
}

.watchlist {
    margin: 0.25em;
}

.genres {
    margin: 1em 1.75em;
}

.movie-image{
    width: 20%;
    object-fit: contain;
    aspect-ratio: 1.5;
}

.movie-data {
    margin: 0 2em;
}

.headline-container,
.rating-container, 
.meta-data,
.watchlist-container {
    display: flex;
    align-items: center;
}

.details{
    color: #A5A5A5;
    font-size: 0.875rem
}

.scrollable-content{
    scrollbar-width: none;
}